@font-face {
    font-family: monasansr;
    src: url(Fonts/MonaSans-Regular.otf);
}
@font-face {
    font-family: Agrandir;
    src: url(Fonts/Agrandir-Regular.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    /* background-color: #000;    */
}
header{
    background-color: #000;
    color: #fefefe;
    padding: 2vw 5vw;
    display: flex;
    justify-content: right;
    align-items: center;
    font-family: monasansr;
    gap: 1rem;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
}

header a{
    color: #fefefe;
    text-decoration: none;
    font-size: 1rem;
    /* font-family: Agrandir; */
}


/* Page 2 */
.webDesign{
    background-color: #c3bcbc77;
    width: 100%;
    padding: 0 4vw;
    position: relative;
    display: flex;
}

/* Content */
.webDesign .content, .graphicDesign .content{
    /* background-color: lightgoldenrodyellow; */
    height: 100vh;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: sticky;
    top: 0;
}
.webDesign .content h1{
    font-family: Agrandir;
    font-size: 6rem;
    line-height: 6rem;
    
}
.webDesign .content p{
    font-family: monasansr;
    font-size: 1.3rem;
    line-height: 1.8rem;
    margin-top: 1rem;
}

/* WebWorks */
.webDesign .webWorks{
    /* background-color: rgb(248, 248, 189); */
    /* height: 100%;
    overflow: scroll; */
    width: 65%;
    padding: 5vh 3vw;
}
.webDesign .webWorks::-webkit-scrollbar{
    display: none;
}
.webDesign .webWorks .webWrk{
    height: 450px;
    width: 100%;
    /* background-color: rgb(20, 20, 20); */
    /* border-radius: 0.5rem; */
}
.webWorks .webWrk video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
}
.webWorks .webWrk img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
}
.webWorks .heads{
    /* background-color: rgb(255, 191, 166); */
    width: 100%;
    font-family: monasansr;
    margin-bottom: 5rem;
}
.webWorks .heads h1{
    font-size: 1.5rem;
    margin-top: 1rem;
    border-bottom: 1px solid black;
}
.webWorks .heads p{
    font-size: 1rem;
    line-height: 1.4rem;
    margin-top: 0.5rem;
}


/* Page 3 */
.graphicDesign{
    /* background-color: #eb0000; */
    background-color: #c3bcbc77;
    /* height: 100%; */
    width: 100%;
    padding: 0 4vw;
    position: relative;
    display: flex;
}
/* Content */
.graphicDesign .content{
    /* background-color: #e2e2e26a; */
    color: #000;
}
.graphicDesign .content h1{
    font-family: Agrandir;
    font-size: 6rem;
    line-height: 6rem;
    
}
.graphicDesign .content p{
    font-family: monasansr;
    font-size: 1.3rem;
    line-height: 1.8rem;
    margin-top: 1rem;
}

/* GraphicWorks */
.graphicWorks{
    /* height: 100vh; */
    /* background-color: yellowgreen; */
    width: 65%;
    padding: 5vh 3vw;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: #000;
}
.graphicWorks .graphicWrk{
    width: 100%;
    height: 500px;
    background-color: #D4CFC9;
    border-radius: 1rem;
}
.graphicWrk img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
}
.graphicWorks .graphicGrid{
    height: 400px;
    width: 100%;
    /* background-color: darkgreen; */
    display: flex;
    gap: 1.5rem;
}
.graphicGrid .graphicimg{
    height: 100%;
    /* background-color: green; */
    width: 50%;
}
.graphicGrid .graphicimg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.graphicWorks .heads{
    /* background-color: rgb(255, 191, 166); */
    width: 100%;
    font-family: monasansr;
    margin-bottom: 5rem;
    /* color: #fff; */
}
.graphicWorks .heads h1{
    font-size: 1.5rem;
    margin-top: 1rem;
    border-bottom: 1px solid #000;
}
.graphicWorks .heads p{
    font-size: 1rem;
    line-height: 1.4rem;
    margin-top: 0.5rem;
}



.UIDesign{
    background-color: c3bcbc77;
    /* color: #fff; */
}
/* .UIDesign .content{
    color: #fff;
}
.UIDesign .graphicWorks .heads h1{
    border-bottom: 1px solid #fff;
    color: #fff;
}
.UIDesign .graphicWorks .heads p{
    color: #fff;
} */


@media all and (max-width: 600px){
    /* Page 2 */
    .webDesign{
        padding: 5vh 4vw;
        display: block;
    }
    .webDesign .content{
        /* background-color: lightgoldenrodyellow; */
        height: auto;
        width: 100%;
        position: relative;
    }
    .webDesign .content h1{
        font-size: 16vw;
        line-height: 15vw;
        
    }
    .webDesign .content p{
        font-size: 1.2rem;
        line-height: 1.8rem;
        margin-top: 1rem;
    }

    /* WebWorks */
    .webDesign .webWorks{
        width: 100%;
        padding: 5vh 0 0 0;
    }

    /* page 3 */
    /* Graphic Works */
    .graphicDesign{
        flex-direction: column;
    }
    .graphicDesign .content{
        height: 40vh;
        /* background-color: red; */
        width: 100%;
        position: relative;
    }
    .graphicDesign .content h1{
        font-size: 16vw;
        line-height: 16vw;
    }
    .graphicDesign .content p{
        font-size: 1.2rem;
        line-height: 1.6rem;
    }
    .graphicWorks{
        width: 100%;
        padding: 5vh 0;
        gap: 1rem;
    }
    .graphicWorks .graphicWrk{
        height: 470px;
    }
    .graphicWorks .graphicGrid{
        height: 45vw;
        gap: 1rem;
    }

    /* Page 5 */
    .something .title, .Project .title{
        gap: 0.4rem;
    }
    .something h1, .Project h1{
        font-size: 12vw;
        line-height: 12vw;
    }
    .something p, .Project p{
        font-size: 0.8rem;
        line-height: 2rem;
    }
    .something .skillsd{
        flex-direction: column;

    }
    .skillsd .development{
        width: 100%;
    }
    .skillsd .development h1{
        font-family: Agrandir;
        font-size: 3.5rem;
        text-align: left;
        line-height: 3rem;
        margin-bottom: 2rem;
    }
}