*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    width: 100%;
    padding: 5% 0.7rem;
    background-color: #000000;
}

.Title h1{
    font-family: poppins;
    /* text-transform: uppercase; */
    font-size: 6vw;
    text-align: center;
    font-weight: 500;
    color: red;
}
.Images{
    /* background-color: bisque; */
    columns: 300px;
}
.Images img{
    width: 100%;
    margin-bottom: 0.7rem;
    border-radius: 0.7rem;
}












@media all and (max-width: 600px){
    main{
        padding: 5vh 5vw;
        background-color: lightgoldenrodyellow;
    }
}